<% @inbounds.each do |inbound| %>
  <div class="floating_table">
    <h2><%= inbound.raw_file.filename %></h2>
    <br/>
    <%= inbound_table inbound.xml_file %>
    <br/>
  </div>
<% end %>
  <div class="clear"></div>
