<h1><%= t(:editing_fact) %></h1>

<%= render :partial => 'form', :locals => { :fact => fact } %>

<%= link_to t(:show), admin_fact_path(:id => fact.name) %> |
<%= link_to t(:back), admin_facts_path(:id => fact.name) %>
