<div id="dashboard_inbounds">

</div>
<div id="dashboard_facts">
  <% @facts.each_pair do |table, data| %>
    <%= data_warehouse_table(table, data) %>
  <% end %>
  <p>testeeee</p>
  <p>testeee</p>
  <p>teste</p>
</div>
<div id="dashboard_report" width="200px;">
	<table style="background-color: gray;">
		<tr>	
			<th>123</th>
			<td></td>
		</tr>
	</table>
</div>

<div class="clear"></div>
