<% dimension.each_pair do |table, data| %>
  <p>
    <b><%= t(:dimension, :count => 1) %>:</b>
    <%= data_warehouse_table(table, data) %>
  </p>
<% end %>
<br><br/>
<%= link_to t(:back), admin_dimensions_path %>
