
<%= render :partial => 'report', :locals => { :report => report } %>

<div id="dashboard_facts" class="dashboard_list">
  <% @facts.each do |fact| %>
  <div class="group">
    <h3 class="data_warehouse_title"><%= fact.name %></h3>
    <div class="data_table" id="<%=fact.id%>">
      <%= data_warehouse_table(fact) %>
    </div>
  </div>
  <% end %>
</div>
<div class="clear"></div>
