<h1><%= t(:editing_data_table) %></h1>

<%= render :partial => 'form', :locals => {:data_table => data_table}%>

<%= link_to t(:show), admin_data_table_path(data_table) %> |
<%= link_to t(:back), admin_data_tables_path %>
