<h2><%= t :dimensions %></h2>

<% @dimensions.each_pair do |table, data| %>
<div class="floating_table">
  <%= data_warehouse_table(table, data) %>
</div>
<% end %>

<div class="clear"></div>

<h2><%= t :facts %></h2>

<% @facts.each_pair do |table, data| %>
<div class="floating_table">
  <%= data_warehouse_table(table, data) %>
</div>
<% end %>

<div class="clear"></div>