*{color:#fff; font-family:Arial; font-size:12px;margin: 0px;}
input {color:#000;}

.container {
    width: 975px;
    margin: 0 auto;
    text-align: left;
}

.main {
    padding: 5px;
    background-color: #46443F;
}

#menu {
  background-color: #35322F;
  padding: 25px;
}

#menu a {
  font-size: 17pt;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #1B1A1E;
  }
}

.login, .login td {
  border: 0px;
}
