*{color:#000; font-family:Arial; font-size:12px;}

.container {
    width: 760px;
    margin: 0 auto;
    text-align: left;
}

.main {
    padding: 5px;
    background-color: #eee;
}

#menu {
  height: 20px;
  background-color: #252;
  padding: 5px;
}

#menu a {
  font-size: 17pt;
  text-decoration: none;
  color: #000;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #272;
  }
}
