// Place all the styles related to the raw_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input label {
  cursor: pointer;
}

#raw_file_attach_a_file {
  display: none;
}

table {border:0px;}

td, th {
  border:solid 1px #EA8856;
  padding:5px;
  font-size: 13px;
}

th {
  font-size: 16px;
  color:white;
  background-color:#EA8856;
}
