<h1><%= user == @current_user ? t(:your_account_settings) : t(:editing_user) %></h1>

<%= render 'form', :user => user, :accessible_roles => accessible_roles %>

<%= link_to t(:show), admin_user_path(user) %> |
<%= link_to t(:back), admin_users_path %>
